.language-selector {
  position: absolute; /* Position it relative to the nearest positioned ancestor */
  top: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background-color: rgba(15, 15, 15, 0.8); /* Semi-transparent black */
  border-radius: 5px; /* Rounded corners */
  padding: 5px 10px; /* Padding around the select box */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Subtle shadow */
  z-index: 1000; /* Ensure it appears above other content */
}

.language-selector select {
  border: none; /* Remove border */
  background-color: rgba(
    15,
    15,
    15,
    0.9
  ); /* Darker background for the select */
  color: #fff; /* White text color for the select */
  font-size: 16px; /* Font size for the select box */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* Remove outline */
  padding: 5px; /* Padding for the select box */
}

.language-selector option {
  background-color: rgb(15, 15, 15); /* Dark background for options */
  color: #fff; /* White text for options */
}
